*{
  box-sizing:border-box;
}

.faq-section{
  background-color:#ffffff;
  width: 800px;
  height: 708px;
  margin: 0 auto;
  padding: 40px;
}

.faq-section h2{
  margin:0 0 70px;
  text-align:center;
  color:#071629;
  font-size:60px;
  font-weight:300;
}

.faq-container{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:70px 80px;
}

.faq-item h4{
  margin:0 0 16px;
  color:#071629;
  font-size:16px;
  font-weight:700;
}

.faq-item p{
  margin:0;
  color:rgba(7,22,41,.5);
  font-size:14px;
  line-height:24px;
}